html {
    background: url(../images/space.jpg) repeat center center fixed;
    background-size: 30%;
}

body {
    background:transparent;
}

.black {
    background-color:black;
}

.titleFont {
    font-family: 'Prompt', serif;
    color:white;
    text-shadow:
    0.1vw 0.1vw 0 #d860a8,
    0.1vw 0.1vw 0 #d860a8,
    0.1vw 0.1vw 0 #d860a8,
    0.1vw 0.1vw 0 #d860a8;
}

.hFont {
    font-family: 'Prompt', serif;
    color:white;
}

.pFont {
    font-family: 'Karla', sans-serif;
    color:white;
}

#about {
    /* background-color:blue; */
    margin-top:2.5vw;
}

.btn, .btn-lg {
    background-color:black;
    color:white;
    border-color:white;
}

.btn:hover, .btn-lg:hover {
    background-color:#d860a8;
    color:white;
}

/* input {
    background-color:black!;
    color:white;
    !color:white;
} */