/* html {
    background: url(../images/space.jpg) no-repeat center center fixed;
    background-size: cover;    
}

body {
    background:transparent;
} */

p {
    text-align:center;
}

#about {
    background-color:blue;
    margin-top:2.5vw;
}