html {
    background: url(../images/stars.jpg) no-repeat center center fixed;
    background-size: cover;    
}

body {
    background:transparent;
}

.titleFont {
    font-family: 'Prompt', serif;
    color:#bdab62;
    text-shadow:
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white,
    0.1vw 0.1vw 0 white;
}

.pFont {
    font-family: 'Karla', sans-serif;
    
}

/* .jumbotron {
    background-color:black;
} */

/* p {
    text-align:center;
} */

#about {
    /* background-color:blue; */
    margin-top:2.5vw;
}